<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.AccsubjectMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.Accsubject">
                    <result column="batch" property="batch" />
                    <result column="code" property="code" />
                    <result column="direction" property="direction" />
                    <result column="subject" property="subject" />
                    <result column="topcode" property="topcode" />
                    <result column="deficitcheckstrategy" property="deficitcheckstrategy" />
                    <result column="name" property="name" />
                    <result column="name2" property="name2" />
                    <result column="name3" property="name3" />
                    <result column="name4" property="name4" />
                    <result column="name5" property="name5" />
                    <result column="name6" property="name6" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            batch, code, direction, subject, topcode, deficitcheckstrategy, name, name2, name3, name4, name5, name6, tenantid, srctplid, ytenant_id
        </sql>

</mapper>