<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.CoaComputationcheckMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.CoaComputationcheck">
                    <id column="id" property="id" />
                    <result column="creationtime" property="creationtime" />
                    <result column="code" property="code" />
                    <result column="sourcemodule" property="sourcemodule" />
                    <result column="name" property="name" />
                    <result column="name2" property="name2" />
                    <result column="name3" property="name3" />
                    <result column="name4" property="name4" />
                    <result column="name5" property="name5" />
                    <result column="name6" property="name6" />
                    <result column="is_start" property="isStart" />
                    <result column="warning_type" property="warningType" />
                    <result column="remarks" property="remarks" />
                    <result column="planid" property="planid" />
                    <result column="par_id" property="parId" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="result" property="result" />
                    <result column="result_id" property="resultId" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, creationtime, code, sourcemodule, name, name2, name3, name4, name5, name6, is_start, warning_type, remarks, planid, par_id, tenantid, srctplid, result, result_id, ytenant_id
        </sql>

</mapper>