<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.CoaDynfactorMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.CoaDynfactor">
                    <id column="id" property="id" />
                    <result column="creationtime" property="creationtime" />
                    <result column="creator" property="creator" />
                    <result column="description" property="description" />
                    <result column="dr" property="dr" />
                    <result column="modifiedtime" property="modifiedtime" />
                    <result column="modifier" property="modifier" />
                    <result column="pk_group" property="pkGroup" />
                    <result column="pk_org" property="pkOrg" />
                    <result column="ts" property="ts" />
                    <result column="classifyid" property="classifyid" />
                    <result column="code" property="code" />
                    <result column="def1" property="def1" />
                    <result column="def10" property="def10" />
                    <result column="def11" property="def11" />
                    <result column="def12" property="def12" />
                    <result column="def13" property="def13" />
                    <result column="def14" property="def14" />
                    <result column="def15" property="def15" />
                    <result column="def16" property="def16" />
                    <result column="def17" property="def17" />
                    <result column="def18" property="def18" />
                    <result column="def19" property="def19" />
                    <result column="def2" property="def2" />
                    <result column="def20" property="def20" />
                    <result column="def21" property="def21" />
                    <result column="def22" property="def22" />
                    <result column="def23" property="def23" />
                    <result column="def24" property="def24" />
                    <result column="def25" property="def25" />
                    <result column="def26" property="def26" />
                    <result column="def27" property="def27" />
                    <result column="def28" property="def28" />
                    <result column="def29" property="def29" />
                    <result column="def3" property="def3" />
                    <result column="def30" property="def30" />
                    <result column="def4" property="def4" />
                    <result column="def5" property="def5" />
                    <result column="def6" property="def6" />
                    <result column="def7" property="def7" />
                    <result column="def8" property="def8" />
                    <result column="def9" property="def9" />
                    <result column="enable" property="enable" />
                    <result column="name" property="name" />
                    <result column="name2" property="name2" />
                    <result column="name3" property="name3" />
                    <result column="name4" property="name4" />
                    <result column="name5" property="name5" />
                    <result column="name6" property="name6" />
                    <result column="parentid" property="parentid" />
                    <result column="attrtype01" property="attrtype01" />
                    <result column="attrtype02" property="attrtype02" />
                    <result column="attrtype03" property="attrtype03" />
                    <result column="attrtype04" property="attrtype04" />
                    <result column="attrtype05" property="attrtype05" />
                    <result column="attrtype06" property="attrtype06" />
                    <result column="attrtype07" property="attrtype07" />
                    <result column="attrtype08" property="attrtype08" />
                    <result column="attrtype09" property="attrtype09" />
                    <result column="attrtype10" property="attrtype10" />
                    <result column="attrtype11" property="attrtype11" />
                    <result column="attrtype12" property="attrtype12" />
                    <result column="attrtype13" property="attrtype13" />
                    <result column="attrtype14" property="attrtype14" />
                    <result column="attrtype15" property="attrtype15" />
                    <result column="attrtype16" property="attrtype16" />
                    <result column="attrtype17" property="attrtype17" />
                    <result column="attrtype18" property="attrtype18" />
                    <result column="attrtype19" property="attrtype19" />
                    <result column="attrtype20" property="attrtype20" />
                    <result column="accpurposes" property="accpurposes" />
                    <result column="accbook" property="accbook" />
                    <result column="datatype" property="datatype" />
                    <result column="measuredoc" property="measuredoc" />
                    <result column="frequency" property="frequency" />
                    <result column="ytd" property="ytd" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="dynstate" property="dynstate" />
                    <result column="sourcemodule" property="sourcemodule" />
                    <result column="controlarea" property="controlarea" />
                    <result column="version" property="version" />
                    <result column="dynfactortype" property="dynfactortype" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, creationtime, creator, description, dr, modifiedtime, modifier, pk_group, pk_org, ts, classifyid, code, def1, def10, def11, def12, def13, def14, def15, def16, def17, def18, def19, def2, def20, def21, def22, def23, def24, def25, def26, def27, def28, def29, def3, def30, def4, def5, def6, def7, def8, def9, enable, name, name2, name3, name4, name5, name6, parentid, attrtype01, attrtype02, attrtype03, attrtype04, attrtype05, attrtype06, attrtype07, attrtype08, attrtype09, attrtype10, attrtype11, attrtype12, attrtype13, attrtype14, attrtype15, attrtype16, attrtype17, attrtype18, attrtype19, attrtype20, accpurposes, accbook, datatype, measuredoc, frequency, ytd, tenantid, srctplid, dynstate, sourcemodule, controlarea, version, dynfactortype, ytenant_id
        </sql>

</mapper>