<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.CoaMsgMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.CoaMsg">
                    <id column="id" property="id" />
                    <result column="msgid" property="msgid" />
                    <result column="controlscope" property="controlscope" />
                    <result column="message" property="message" />
                    <result column="allocplan" property="allocplan" />
                    <result column="period" property="period" />
                    <result column="ts" property="ts" />
                    <result column="modifytime" property="modifytime" />
                    <result column="status" property="status" />
                    <result column="dataStartTime" property="datastarttime" />
                    <result column="dataEndTime" property="dataendtime" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            msgid, controlscope, message, allocplan, period, ts, modifytime, status, id, dataStartTime, dataEndTime, ytenant_id
        </sql>

</mapper>