<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.CoaRuledetailLableMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.CoaRuledetailLable">
                    <id column="id" property="id" />
                    <result column="doctype" property="doctype" />
                    <result column="direct" property="direct" />
                    <result column="module" property="module" />
                    <result column="recivetype" property="recivetype" />
                    <result column="myentityid" property="myentityid" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, doctype, direct, module, recivetype, myentityid, tenantid, srctplid, ytenant_id
        </sql>

</mapper>