<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.CoaTimetaskroleMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.CoaTimetaskrole">
                    <id column="id" property="id" />
                    <result column="role" property="role" />
                    <result column="rolecode" property="rolecode" />
                    <result column="rolename" property="rolename" />
                    <result column="timetask" property="timetask" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="rolename2" property="rolename2" />
                    <result column="rolename3" property="rolename3" />
                    <result column="rolename4" property="rolename4" />
                    <result column="rolename5" property="rolename5" />
                    <result column="rolename6" property="rolename6" />
                    <result column="email" property="email" />
                    <result column="message" property="message" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, role, rolecode, rolename, timetask, tenantid, srctplid, rolename2, rolename3, rolename4, rolename5, rolename6, email, message, ytenant_id
        </sql>

</mapper>