<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.CwDimAccbookMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.CwDimAccbook">
                    <id column="id" property="id" />
                    <result column="tenantid" property="tenantid" />
                    <result column="accbook_id" property="accbookId" />
                    <result column="accbook_code" property="accbookCode" />
                    <result column="accbook_name" property="accbookName" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, tenantid, accbook_id, accbook_code, accbook_name, ytenant_id
        </sql>

</mapper>