<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.CwFactAuxiliaryBaseMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.CwFactAuxiliaryBase">
                    <id column="id" property="id" />
                    <result column="tenantid" property="tenantid" />
                    <result column="accbook_id" property="accbookId" />
                    <result column="accbook_code" property="accbookCode" />
                    <result column="accbook_name" property="accbookName" />
                    <result column="accbook_enable" property="accbookEnable" />
                    <result column="accsubject_id" property="accsubjectId" />
                    <result column="accsubject_code" property="accsubjectCode" />
                    <result column="accsubject_name" property="accsubjectName" />
                    <result column="accsubject_pid" property="accsubjectPid" />
                    <result column="currency_id" property="currencyId" />
                    <result column="currency_code" property="currencyCode" />
                    <result column="currency_name" property="currencyName" />
                    <result column="currency_sign" property="currencySign" />
                    <result column="currency_enable" property="currencyEnable" />
                    <result column="flag" property="flag" />
                    <result column="cperiod" property="cperiod" />
                    <result column="je_type" property="jeType" />
                    <result column="localdebitamount" property="localdebitamount" />
                    <result column="localcreditamount" property="localcreditamount" />
                    <result column="tallystatus" property="tallystatus" />
                    <result column="tallystatus_name" property="tallystatusName" />
                    <result column="auxiliary" property="auxiliary" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, tenantid, accbook_id, accbook_code, accbook_name, accbook_enable, accsubject_id, accsubject_code, accsubject_name, accsubject_pid, currency_id, currency_code, currency_name, currency_sign, currency_enable, flag, cperiod, je_type, localdebitamount, localcreditamount, tallystatus, tallystatus_name, auxiliary, ytenant_id
        </sql>

</mapper>