<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.DsDmFinrptSysAdjsMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.DsDmFinrptSysAdjs">
                    <id column="id" property="id" />
                    <result column="pid" property="pid" />
                    <result column="code" property="code" />
                    <result column="name" property="name" />
                    <result column="tenantid" property="tenantid" />
                    <result column="ts" property="ts" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, pid, code, name, tenantid, ts, ytenant_id
        </sql>

</mapper>