<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.ExMergerulesMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.ExMergerules">
                    <id column="id" property="id" />
                    <result column="code" property="code" />
                    <result column="name" property="name" />
                    <result column="name2" property="name2" />
                    <result column="name3" property="name3" />
                    <result column="name4" property="name4" />
                    <result column="name5" property="name5" />
                    <result column="name6" property="name6" />
                    <result column="isdefault" property="isdefault" />
                    <result column="merger_mode" property="mergerMode" />
                    <result column="line_order" property="lineOrder" />
                    <result column="direction_sort" property="directionSort" />
                    <result column="merger_option" property="mergerOption" />
                    <result column="excepsub" property="excepsub" />
                    <result column="tenantid" property="tenantid" />
                    <result column="issocial" property="issocial" />
                    <result column="permission" property="permission" />
                    <result column="srctplid" property="srctplid" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, code, name, name2, name3, name4, name5, name6, isdefault, merger_mode, line_order, direction_sort, merger_option, excepsub, tenantid, issocial, permission, srctplid, ytenant_id
        </sql>

</mapper>