<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.ExMsgblobMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.ExMsgblob">
                    <id column="id" property="id" />
                    <result column="billvo" property="billvo" typeHandler="org.apache.ibatis.type.BlobTypeHandler" />
                    <result column="parammap" property="parammap" typeHandler="org.apache.ibatis.type.BlobTypeHandler" />
                    <result column="tempparam" property="tempparam" typeHandler="org.apache.ibatis.type.BlobTypeHandler" />
                    <result column="tempvo" property="tempvo" typeHandler="org.apache.ibatis.type.BlobTypeHandler" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="msgid" property="msgid" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, billvo, parammap, tempparam, tempvo, tenantid, srctplid, msgid, ytenant_id
        </sql>

</mapper>