<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.ExOutentitydefMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.ExOutentitydef">
                    <id column="id" property="id" />
                    <result column="billtypecode" property="billtypecode" />
                    <result column="relentity" property="relentity" />
                    <result column="rootnode" property="rootnode" />
                    <result column="systemcode" property="systemcode" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, billtypecode, relentity, rootnode, systemcode, tenantid, srctplid, ytenant_id
        </sql>

</mapper>