<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.ExPlatsettingsMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.ExPlatsettings">
                    <id column="id" property="id" />
                    <result column="treekey" property="treekey" />
                    <result column="pk_org" property="pkOrg" />
                    <result column="accbook" property="accbook" />
                    <result column="glvoucher" property="glvoucher" />
                    <result column="respvoucher" property="respvoucher" />
                    <result column="costvoucher" property="costvoucher" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, treekey, pk_org, accbook, glvoucher, respvoucher, costvoucher, tenantid, srctplid, ytenant_id
        </sql>

</mapper>