<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.ExRegisterinfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.ExRegisterinfo">
                    <id column="id" property="id" />
                    <result column="actioncode" property="actioncode" />
                    <result column="adeptclass" property="adeptclass" />
                    <result column="billtypecode" property="billtypecode" />
                    <result column="reportchannel" property="reportchannel" />
                    <result column="rservicepath" property="rservicepath" />
                    <result column="sendchannel" property="sendchannel" />
                    <result column="servicepath" property="servicepath" />
                    <result column="systemcode" property="systemcode" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, actioncode, adeptclass, billtypecode, reportchannel, rservicepath, sendchannel, servicepath, systemcode, tenantid, srctplid, ytenant_id
        </sql>

</mapper>