<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.ExVoucheroplogsMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.ExVoucheroplogs">
                    <id column="id" property="id" />
                    <result column="srcsystem" property="srcsystem" />
                    <result column="billtype" property="billtype" />
                    <result column="billno" property="billno" />
                    <result column="billid" property="billid" />
                    <result column="action" property="action" />
                    <result column="desSystem" property="dessystem" />
                    <result column="desbillid" property="desbillid" />
                    <result column="reqid" property="reqid" />
                    <result column="ts" property="ts" />
                    <result column="tenantid" property="tenantid" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, srcsystem, billtype, billno, billid, action, desSystem, desbillid, reqid, ts, tenantid, ytenant_id
        </sql>

</mapper>