<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.FiAccountMonitorMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.FiAccountMonitor">
                    <id column="id" property="id" />
                    <result column="name" property="name" />
                    <result column="setcolumns" property="setcolumns" />
                    <result column="orderno" property="orderno" />
                    <result column="templatecode" property="templatecode" />
                    <result column="updatetime" property="updatetime" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, name, setcolumns, orderno, templatecode, updatetime, tenantid, srctplid, ytenant_id
        </sql>

</mapper>