<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.FiBdEtlsystemMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.FiBdEtlsystem">
                    <id column="id" property="id" />
                    <result column="creationtime" property="creationtime" />
                    <result column="creator" property="creator" />
                    <result column="description" property="description" />
                    <result column="dr" property="dr" />
                    <result column="modifiedtime" property="modifiedtime" />
                    <result column="modifier" property="modifier" />
                    <result column="pk_group" property="pkGroup" />
                    <result column="pk_org" property="pkOrg" />
                    <result column="ts" property="ts" />
                    <result column="callbackurl" property="callbackurl" />
                    <result column="classifyid" property="classifyid" />
                    <result column="code" property="code" />
                    <result column="enable" property="enable" />
                    <result column="header" property="header" />
                    <result column="name" property="name" />
                    <result column="parentid" property="parentid" />
                    <result column="url" property="url" />
                    <result column="version" property="version" />
                    <result column="systype" property="systype" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, creationtime, creator, description, dr, modifiedtime, modifier, pk_group, pk_org, ts, callbackurl, classifyid, code, enable, header, name, parentid, url, version, systype, tenantid, srctplid, ytenant_id
        </sql>

</mapper>