<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.FiExtendFuncMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.FiExtendFunc">
                    <id column="id" property="id" />
                    <result column="code" property="code" />
                    <result column="name" property="name" />
                    <result column="name2" property="name2" />
                    <result column="name3" property="name3" />
                    <result column="name4" property="name4" />
                    <result column="name5" property="name5" />
                    <result column="name6" property="name6" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="type" property="type" />
                    <result column="description" property="description" />
                    <result column="description2" property="description2" />
                    <result column="description3" property="description3" />
                    <result column="description4" property="description4" />
                    <result column="description5" property="description5" />
                    <result column="description6" property="description6" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, code, name, name2, name3, name4, name5, name6, tenantid, srctplid, type, description, description2, description3, description4, description5, description6, ytenant_id
        </sql>

</mapper>