<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.FiExtendFuncFormMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.FiExtendFuncForm">
                    <id column="id" property="id" />
                    <result column="funcid" property="funcid" />
                    <result column="datatype" property="datatype" />
                    <result column="operation" property="operation" />
                    <result column="refcode" property="refcode" />
                    <result column="LENGTH" property="length" />
                    <result column="sequence" property="sequence" />
                    <result column="defaultvalue" property="defaultvalue" />
                    <result column="enumid" property="enumid" />
                    <result column="enumpath" property="enumpath" />
                    <result column="required" property="required" />
                    <result column="multiple" property="multiple" />
                    <result column="code" property="code" />
                    <result column="name" property="name" />
                    <result column="name2" property="name2" />
                    <result column="name3" property="name3" />
                    <result column="name4" property="name4" />
                    <result column="name5" property="name5" />
                    <result column="name6" property="name6" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="returntype" property="returntype" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            funcid, datatype, operation, refcode, LENGTH, sequence, defaultvalue, enumid, enumpath, required, multiple, id, code, name, name2, name3, name4, name5, name6, tenantid, srctplid, returntype, ytenant_id
        </sql>

</mapper>