<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.IaTaskqueueMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.IaTaskqueue">
                    <id column="id" property="id" />
                    <result column="accbooktype" property="accbooktype" />
                    <result column="accbody" property="accbody" />
                    <result column="costreg" property="costreg" />
                    <result column="costobject" property="costobject" />
                    <result column="sequenceno" property="sequenceno" />
                    <result column="taskkey" property="taskkey" />
                    <result column="context" property="context" />
                    <result column="tasktype" property="tasktype" />
                    <result column="inouttype" property="inouttype" />
                    <result column="processed" property="processed" />
                    <result column="result" property="result" />
                    <result column="pubts" property="pubts" />
                    <result column="tenant_id" property="tenantId" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            accbooktype, accbody, costreg, costobject, sequenceno, taskkey, context, tasktype, inouttype, processed, result, id, pubts, tenant_id, ytenant_id
        </sql>

</mapper>