<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.MdIndustrylinkMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.MdIndustrylink">
                    <id column="id" property="id" />
                    <result column="industryid" property="industryid" />
                    <result column="entityid" property="entityid" />
                    <result column="showorder" property="showorder" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, industryid, entityid, showorder, tenantid, srctplid, ytenant_id
        </sql>

</mapper>