<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.MdPgViewMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.MdPgView">
                    <id column="id" property="id" />
                    <result column="field" property="field" />
                    <result column="name" property="name" />
                    <result column="enabled" property="enabled" />
                    <result column="sort" property="sort" />
                    <result column="edit" property="edit" />
                    <result column="format" property="format" />
                    <result column="width" property="width" />
                    <result column="classname" property="classname" />
                    <result column="align" property="align" />
                    <result column="iskey" property="iskey" />
                    <result column="code" property="code" />
                    <result column="datatype" property="datatype" />
                    <result column="sortable" property="sortable" />
                    <result column="name2" property="name2" />
                    <result column="name3" property="name3" />
                    <result column="name4" property="name4" />
                    <result column="name5" property="name5" />
                    <result column="name6" property="name6" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, field, name, enabled, sort, edit, format, width, classname, align, iskey, code, datatype, sortable, name2, name3, name4, name5, name6, tenantid, srctplid, ytenant_id
        </sql>

</mapper>