<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.PtThemeMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.PtTheme">
                    <id column="pk_theme" property="pkTheme" />
                    <result column="id" property="id" />
                    <result column="name" property="name" />
                    <result column="isdefault" property="isdefault" />
                    <result column="ctime" property="ctime" />
                    <result column="system" property="system" />
                    <result column="tenant" property="tenant" />
                    <result column="ts" property="ts" />
                    <result column="dr" property="dr" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, name, isdefault, ctime, pk_theme, system, tenant, ts, dr, ytenant_id
        </sql>

</mapper>