<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.PtThemePreferenceMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.PtThemePreference">
                    <id column="pk_theme_preference" property="pkThemePreference" />
                    <result column="userid" property="userid" />
                    <result column="themeid" property="themeid" />
                    <result column="ctime" property="ctime" />
                    <result column="system" property="system" />
                    <result column="tenant" property="tenant" />
                    <result column="ts" property="ts" />
                    <result column="dr" property="dr" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            userid, themeid, ctime, pk_theme_preference, system, tenant, ts, dr, ytenant_id
        </sql>

</mapper>