<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.PtWidgetPreferenceMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.PtWidgetPreference">
                    <id column="pk_widget_preference" property="pkWidgetPreference" />
                    <result column="widgetid" property="widgetid" />
                    <result column="viewid" property="viewid" />
                    <result column="id" property="id" />
                    <result column="name" property="name" />
                    <result column="value" property="value" />
                    <result column="ctime" property="ctime" />
                    <result column="userid" property="userid" />
                    <result column="system" property="system" />
                    <result column="tenant" property="tenant" />
                    <result column="ts" property="ts" />
                    <result column="dr" property="dr" />
                    <result column="wstatus" property="wstatus" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            widgetid, viewid, id, name, value, ctime, pk_widget_preference, userid, system, tenant, ts, dr, wstatus, ytenant_id
        </sql>

</mapper>