<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.PubDimtimeDayMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.PubDimtimeDay">
                    <result column="PK_DATE" property="pkDate" />
                    <result column="DATE_NUM" property="dateNum" />
                    <result column="WEEK_DAY" property="weekDay" />
                    <result column="YEAR_WEEK_NUM" property="yearWeekNum" />
                    <result column="PK_YEAR_WEEK" property="pkYearWeek" />
                    <result column="WEEK_NAME" property="weekName" />
                    <result column="WEEK_BEGIN_DATE" property="weekBeginDate" />
                    <result column="WEEK_END_DATE" property="weekEndDate" />
                    <result column="IS_LAST_WEEK" property="isLastWeek" />
                    <result column="MONTH_DAY" property="monthDay" />
                    <result column="YEARMONTH_NUM" property="yearmonthNum" />
                    <result column="PK_YEARMONTH" property="pkYearmonth" />
                    <result column="YEARMONTH_NAME" property="yearmonthName" />
                    <result column="PK_MONTH" property="pkMonth" />
                    <result column="MONTH_NAME" property="monthName" />
                    <result column="PK_MONTH_NUM" property="pkMonthNum" />
                    <result column="MONTH_BEGIN_DATE" property="monthBeginDate" />
                    <result column="MONTH_END_DATE" property="monthEndDate" />
                    <result column="IS_LAST_MONTH" property="isLastMonth" />
                    <result column="QUARTER_NUM" property="quarterNum" />
                    <result column="QUARTER_ABB" property="quarterAbb" />
                    <result column="QUARTER_NAME" property="quarterName" />
                    <result column="YEARQUARTER_ABB" property="yearquarterAbb" />
                    <result column="QUARTER_BEGIN_DATE" property="quarterBeginDate" />
                    <result column="QUARTER_END_DATE" property="quarterEndDate" />
                    <result column="IS_LAST_QUARTER" property="isLastQuarter" />
                    <result column="YEAR_DAY" property="yearDay" />
                    <result column="PK_YEAR" property="pkYear" />
                    <result column="YEAR_NAME" property="yearName" />
                    <result column="YEAR_BEGIN_DATE" property="yearBeginDate" />
                    <result column="YEAR_END_DATE" property="yearEndDate" />
                    <result column="IS_LAST_YEAR" property="isLastYear" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            PK_DATE, DATE_NUM, WEEK_DAY, YEAR_WEEK_NUM, PK_YEAR_WEEK, WEEK_NAME, WEEK_BEGIN_DATE, WEEK_END_DATE, IS_LAST_WEEK, MONTH_DAY, YEARMONTH_NUM, PK_YEARMONTH, YEARMONTH_NAME, PK_MONTH, MONTH_NAME, PK_MONTH_NUM, MONTH_BEGIN_DATE, MONTH_END_DATE, IS_LAST_MONTH, QUARTER_NUM, QUARTER_ABB, QUARTER_NAME, YEARQUARTER_ABB, QUARTER_BEGIN_DATE, QUARTER_END_DATE, IS_LAST_QUARTER, YEAR_DAY, PK_YEAR, YEAR_NAME, YEAR_BEGIN_DATE, YEAR_END_DATE, IS_LAST_YEAR
        </sql>

</mapper>