<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.PubTempletAssignMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.PubTempletAssign">
                    <id column="id" property="id" />
                    <result column="code" property="code" />
                    <result column="name" property="name" />
                    <result column="entitycode" property="entitycode" />
                    <result column="funcode" property="funcode" />
                    <result column="userid" property="userid" />
                    <result column="role" property="role" />
                    <result column="pk_org" property="pkOrg" />
                    <result column="pk_group" property="pkGroup" />
                    <result column="billtemplet" property="billtemplet" />
                    <result column="querytemplet" property="querytemplet" />
                    <result column="assigntype" property="assigntype" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, code, name, entitycode, funcode, userid, role, pk_org, pk_group, billtemplet, querytemplet, assigntype, tenantid, srctplid, ytenant_id
        </sql>

</mapper>