<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.ReportModelExecStrategyMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.ReportModelExecStrategy">
                    <id column="id" property="id" />
                    <result column="run_mode" property="runMode" />
                    <result column="cron" property="cron" />
                    <result column="lasttime" property="lasttime" />
                    <result column="trigger_script" property="triggerScript" />
                    <result column="trigger_api" property="triggerApi" />
                    <result column="calc_model_id" property="calcModelId" />
                    <result column="ts" property="ts" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="step" property="step" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, run_mode, cron, lasttime, trigger_script, trigger_api, calc_model_id, ts, tenantid, srctplid, step, ytenant_id
        </sql>

</mapper>