<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.ReportRptitemAuxiliaryDimFormulaMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.ReportRptitemAuxiliaryDimFormula">
                    <id column="id" property="id" />
                    <result column="formula_id" property="formulaId" />
                    <result column="auxiliary_id" property="auxiliaryId" />
                    <result column="auxiliary_code" property="auxiliaryCode" />
                    <result column="auxiliary_item_id" property="auxiliaryItemId" />
                    <result column="srctplid" property="srctplid" />
                    <result column="tenantid" property="tenantid" />
                    <result column="ts" property="ts" />
                    <result column="auxiliary_item_code" property="auxiliaryItemCode" />
                    <result column="rpt_item_id" property="rptItemId" />
                    <result column="rpt_item_code" property="rptItemCode" />
                    <result column="model_id" property="modelId" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, formula_id, auxiliary_id, auxiliary_code, auxiliary_item_id, srctplid, tenantid, ts, auxiliary_item_code, rpt_item_id, rpt_item_code, model_id, ytenant_id
        </sql>

</mapper>