<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.ReportModelTableMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.ReportModelTable">
                    <id column="id" property="id" />
                    <result column="model_id" property="modelId" />
                    <result column="table_name" property="tableName" />
                    <result column="table_desc" property="tableDesc" />
                    <result column="dim_id" property="dimId" />
                    <result column="pkcolumn" property="pkcolumn" />
                    <result column="ts" property="ts" />
                    <result column="type" property="type" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, model_id, table_name, table_desc, dim_id, pkcolumn, ts, type, tenantid, srctplid, ytenant_id
        </sql>

</mapper>