<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.ReportItemInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.ReportItemInfo">
                    <id column="id" property="id" />
                    <result column="code" property="code" />
                    <result column="name" property="name" />
                    <result column="sec_class" property="secClass" />
                    <result column="is_write" property="isWrite" />
                    <result column="is_calc" property="isCalc" />
                    <result column="def1" property="def1" />
                    <result column="def2" property="def2" />
                    <result column="def3" property="def3" />
                    <result column="def4" property="def4" />
                    <result column="def5" property="def5" />
                    <result column="def6" property="def6" />
                    <result column="def7" property="def7" />
                    <result column="def8" property="def8" />
                    <result column="def9" property="def9" />
                    <result column="def10" property="def10" />
                    <result column="model_id" property="modelId" />
                    <result column="ts" property="ts" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="rule" property="rule" />
                    <result column="item_dtype" property="itemDtype" />
                    <result column="vdefault" property="vdefault" />
                    <result column="formula_expression" property="formulaExpression" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, code, name, sec_class, is_write, is_calc, def1, def2, def3, def4, def5, def6, def7, def8, def9, def10, model_id, ts, tenantid, srctplid, rule, item_dtype, vdefault, formula_expression, ytenant_id
        </sql>

</mapper>