<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.ReportItemAggrFormulaMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.ReportItemAggrFormula">
                    <id column="id" property="id" />
                    <result column="aggr_rptitem_id" property="aggrRptitemId" />
                    <result column="rptitem_id" property="rptitemId" />
                    <result column="symbol" property="symbol" />
                    <result column="type" property="type" />
                    <result column="appid" property="appid" />
                    <result column="tenantid" property="tenantid" />
                    <result column="ts" property="ts" />
                    <result column="aggregation_weight" property="aggregationWeight" />
                    <result column="level_id" property="levelId" />
                    <result column="srctplid" property="srctplid" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, aggr_rptitem_id, rptitem_id, symbol, type, appid, tenantid, ts, aggregation_weight, level_id, srctplid, ytenant_id
        </sql>

</mapper>