<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.SysBdDefMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.SysBdDef">
                    <id column="id" property="id" />
                    <result column="cls" property="cls" />
                    <result column="dataType" property="datatype" />
                    <result column="dataTypeInfo" property="datatypeinfo" />
                    <result column="defaultValue" property="defaultvalue" />
                    <result column="dispName" property="dispname" />
                    <result column="fieldName" property="fieldname" />
                    <result column="maxlength" property="maxlength" />
                    <result column="required" property="required" />
                    <result column="tenantid" property="tenantid" />
                    <result column="srctplid" property="srctplid" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, cls, dataType, dataTypeInfo, defaultValue, dispName, fieldName, maxlength, required, tenantid, srctplid, ytenant_id
        </sql>

</mapper>