<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.WbAppMenuMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.WbAppMenu">
                    <id column="func_id" property="funcId" />
                    <result column="id" property="id" />
                    <result column="icon" property="icon" />
                    <result column="isenable" property="isenable" />
                    <result column="isvisible" property="isvisible" />
                    <result column="is_virtual_node" property="isVirtualNode" />
                    <result column="parent_id" property="parentId" />
                    <result column="classify" property="classify" />
                    <result column="layout_id" property="layoutId" />
                    <result column="sort" property="sort" />
                    <result column="create_time" property="createTime" />
                    <result column="name" property="name" />
                    <result column="tenant_id" property="tenantId" />
                    <result column="version" property="version" />
                    <result column="label" property="label" />
                    <result column="openview" property="openview" />
                    <result column="name2" property="name2" />
                    <result column="name3" property="name3" />
                    <result column="name4" property="name4" />
                    <result column="name5" property="name5" />
                    <result column="name6" property="name6" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, func_id, icon, isenable, isvisible, is_virtual_node, parent_id, classify, layout_id, sort, create_time, name, tenant_id, version, label, openview, name2, name3, name4, name5, name6, ytenant_id
        </sql>

</mapper>