<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.etl.mapper.WbRoleAppMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yonyou.etl.entity.WbRoleApp">
                    <id column="id" property="id" />
                    <result column="pk_role" property="pkRole" />
                    <result column="pk_little_app" property="pkLittleApp" />
                    <result column="tenant_id" property="tenantId" />
                    <result column="ytenant_id" property="ytenantId" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, pk_role, pk_little_app, tenant_id, ytenant_id
        </sql>

</mapper>